@import url('https://fonts.cdnfonts.com/css/arvo');
                
body{
    background-color:green;
    font-family: 'Arvo', sans-serif;
    font-weight: 300;
    }

    .container{
    height: 100vh;
    }

    .title{
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    color:#5199E4;
    font-family: 'Arvo', sans-serif;
    }
    .card{

    width: 380px;
    border: none;
    border-radius: 15px;
    padding: 8px;
    background-color: #5199E4;
    position: relative;
    height: 455px;
    }

    .name{
    font-size: large;
    font-weight: 400;
    text-align: center;
    color: black;
    font-family: 'Arvo', sans-serif;
    }

    .email{
        font-size: large;
        font-weight: 400;
        text-align: center;
        color: black;
        font-family: 'Arvo', sans-serif;
    }


    .upper{

    height: 175px;

    }

    .upper img{

    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    }

    .user{
    position: relative;
    }

    .profile img{
 
    height: 75px;
    width: 100px;
    margin-top: -25px;
    
    }

    .profile{

    position: absolute;
    top:-50px;
    left: 38%;
    height: 90px;
    width: 90px;
    border:px solid #fff;

    border-radius: 50%;

    }
    .stats span{

    font-size: 29px;
    }

    .mb-0{
    font-size: x-large;
    font-weight: bold;
    font-family: 'Arvo', sans-serif;
    }
.logout{
align-items: center;
align-content: center; 
}
button{
font-size: large;
font-weight: bold;
margin-top: 20px;
font-family: 'Arvo', sans-serif;
}


