<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TerraView.com</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    </head>
  <body>
    <div class="container">
      <div class="text">TerraView Login</div>
      <form action="/auth/login" method="post">
        <div class="data">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" />
        </div>
        <div class="data">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" />
        </div>
        <div class="forgot-pass">
          <a href="#">Forgot Password?</a>
        </div>
        <div class="btn">
          <button type="submit">login</button>
        </div>
        <div class="signup-link">
          Not a member? <a href="/register">Signup now</a>
        </div>
      </form>
    </div>
  </body>
</html>