<!DOCTYPE html>
<html>
<head>
    <title>TerraView.com</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/profile.css">
</head>


<body>


<div class="container">
<div class = "title">
    <h2> TerraView Profile Page </h2>
</div>
<div class = "user-container">
<ul>
    <div class = "name">
        <h3> Name </h3>
    </div>
    <div class = "email">
        <h3> Email </h3>
            <ul>
            </ul>
    </div>
    <center> Please go to this URL, https://terraviews.herokuapp.com/register/your_email and replace with your email to view your profile </center>
</ul>
</div>

</div>

</body>
</html>
